body
{
	background:linear-gradient(to right, #8FE2E4, #87B1E6, #8396DF, #8084D7);
}

#container
{
	width:340px;
	height:auto;
	border:solid 2px black;
	border-radius:4px;
	margin:0 auto;
	padding:10px;
	font-family:Arial, Sans-serif;
	font-size:14px;
	text-align:center;
	margin-top:10%;
	background:#4D5682;
}

input[name="email"], input[name="password"]
{
	height:35px;
	padding-left:5px;
	font-size:14px;
	width:250px;
	font-family:Arial, Sans-serif;
	background-color:#36445E;
	border:solid 2px #36445E;
	border-radius:4px;
	color:white;
}

input[name="submit"], input[name="signup"]
{
	font-size:14px;
	font-family:Arial, Sans-serif;
	width:90px;
	height:30px;
	background-color:#017DC3;
	border:solid 2px #017DC3;
	color:white;
	margin-top:5px;
	font-weight:700;
}

input[name="submit"]:hover
{
	border:solid 2px #017DC3;
	background-color:white;
	color:#017DC3;
}

input[name="signup"]:hover
{
	border:solid 2px #017DC3;
	background-color:white;
	color:#017DC3;
}

table
{
	text-align:center;
	margin:0 auto;
}